@import "tailwindcss";

:root {
  --background: #f0fdf6;
  --background-dim: #daf0e4;
  --text: #042012;
  --text-dim: #70857b;
  --search-bar-color: #e9f9ef;
  --outline: #00000014;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font: var(--font-geist-sans);
  --font-alt: var(--font-kameron);
}

/* TODO: dark mode */
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Geist", Helvetica, sans-serif;
}

.search {
  background-color: #daf0e437;
  border-width: 1px;
  border-color: var(--outline);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
}


p.placeholder {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}